<label for="@Identifier">@Description</label>
@{
    if (ObjectProperty.PropertyType == typeof(string))
    {
        <input id="@Identifier" type="text" @bind="Value" />
    }
    else if (ObjectProperty.PropertyType == typeof(int))
    {
        <input id="@Identifier" type="number" min="@int.MinValue" max="@int.MaxValue" @bind="Value" />
    }
    else if (ObjectProperty.PropertyType == typeof(ushort))
    {
        <input id="@Identifier" type="number" min="@ushort.MinValue" max="@ushort.MaxValue" @bind="Value" />
    }
    else if (ObjectProperty.PropertyType == typeof(bool))
    {
        <input id="@Identifier" type="checkbox" @bind="ValueBool" />
    }
}