@page "/admin/bassinfo"
@using Whitestone.SegnoSharp.Common.Attributes
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Options
@using Whitestone.SegnoSharp.Modules.BassService.Interfaces
@using Whitestone.SegnoSharp.Modules.BassService.Models.Config
@inject IBassWrapper BassWrapper
@inject IOptions<BassRegistration> BassRegistration
@attribute [Authorize]
@attribute [ModuleMenu("BASS Info", 210, "fa-wave-square", true)]

<h1>BASS Information</h1>

<h2>Registration</h2>

<div>
    Email: @BassRegistration.Value.Email<br />
    Key: @BassRegistration.Value.Key
</div>

<h2>Components</h2>

<table>
    <thead>
        <tr>
            <th>Component</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BASS</td>
            <td>@BassWrapper.GetBassVersion()</td>
        </tr>
        <tr>
            <td>BASS Enc</td>
            <td>@BassWrapper.GetBassEncVersion()</td>
        </tr>
        <tr>
            <td>BASS Mixer</td>
            <td>@BassWrapper.GetBassMixerVersion()</td>
        </tr>
        <tr>
            <td>BASS.NET</td>
            <td>@BassWrapper.GetBassNetVersion()</td>
        </tr>
    </tbody>
</table>