@using Whitestone.SegnoSharp.Models.ViewModels
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>BlazorApp1</PageTitle>

<input id="menu-toggle-button" type="checkbox" role="button" checked="checked" /> <!-- checked="checked" -->
<label id="menu-toggle-icon" for="menu-toggle-button"><span class="fa-solid fa-angles-right"></span></label>
<header>
    <div class="auth">
        <AuthorizeView Policy="IgnoreRole">
            <Authorized>
                Logged in as <em>@_loggedInAs</em>
                <NavLink href="/auth/logout">Logout</NavLink>
            </Authorized>
            <Authorizing>
                Please wait while logging in
            </Authorizing>
            <NotAuthorized>
                <NavLink href="@("/auth/login?redirectUri=" + @NavigationManager.Uri)">Login</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="headerLogo">
        <img src="/img/logoHeader.png" alt="SegnoSharp Logo" />
    </div>
</header>
<nav>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All"><span class="fa-solid fa-house"></span>Home</NavLink>
        </li>
        @foreach (MenuNavigationModel nav in ModuleNavItems.Where(n => !n.IsAdmin).OrderBy(n => n.SortOrder))
        {
            if (nav.Children.Any())
            {
                <li class="Submenu">
                    <NavLink href="@nav.Path"><span class="fa-solid @nav.Icon"></span>@nav.MenuTitle</NavLink>
                    <input id="submenu-@(nav.Id)-button" type="checkbox" role="button" /> <!-- checked="checked" -->
                    <label id="submenu-@(nav.Id)-icon" for="submenu-@(nav.Id)-button"><span class="fa-solid fa-caret-right"></span></label>
                    <ul>
                        @foreach (var navChild in nav.Children.OrderBy(c => c.SortOrder))
                        {
                            <li><NavLink href="@navChild.Path">@navChild.MenuTitle</NavLink></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><NavLink href="@nav.Path"><span class="fa-solid @nav.Icon"></span>@nav.MenuTitle</NavLink></li>
            }
        }
        <AuthorizeView>
            <Authorized>
                <li>
                    <span class="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("admin/") ? "active" : "")"><span class="fa-solid fa-screwdriver-wrench"></span>Admin</span>
                    <ul>
                        <li class="Submenu">
                            <NavLink href="/admin/albums"><span class="fa-solid fa-compact-disc"></span>Albums</NavLink>
                            <input id="submenu-albums-button" type="checkbox" role="button" checked="checked" /> <!-- checked="checked" -->
                            <label id="submenu-albums-icon" for="submenu-albums-button"><span class="fa-solid fa-caret-right"></span></label>
                            <ul>
                                <li><NavLink href="/admin/albums/people">Persons</NavLink></li>
                                <li><NavLink href="/admin/albums/persongroups">Person groups</NavLink></li>
                                <li><NavLink href="/admin/albums/mediatypes">Media types</NavLink></li>
                                <li><NavLink href="/admin/albums/genres">Genres</NavLink></li>
                                <li><NavLink href="/admin/albums/recordlabels">Record labels</NavLink></li>
                            </ul>
                        </li>
                        <li><NavLink href="/admin/import"><span class="fa-solid fa-file-import"></span>Import</NavLink></li>
                        @foreach (MenuNavigationModel nav in ModuleNavItems.Where(n => n.IsAdmin).OrderBy(n => n.SortOrder))
                        {
                            if (nav.Children.Any())
                            {
                                <li class="Submenu">
                                    <NavLink href="@nav.Path"><span class="fa-solid @nav.Icon"></span>@nav.MenuTitle</NavLink>
                                    <input id="submenu-@(nav.Id)-admin-button" type="checkbox" role="button" /> <!-- checked="checked" -->
                                    <label id="submenu-@(nav.Id)-admin-icon" for="submenu-@(nav.Id)-admin-button"><span class="fa-solid fa-caret-right"></span></label>
                                    <ul>
                                        @foreach (var navChild in nav.Children.OrderBy(c => c.SortOrder))
                                        {
                                            <li><NavLink href="@navChild.Path">@navChild.MenuTitle</NavLink></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li><NavLink href="@nav.Path"><span class="fa-solid @nav.Icon"></span>@nav.MenuTitle</NavLink></li>
                            }
                        }
                    </ul>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</nav>

<main>
    @Body
</main>
