@page "/admin/playlist/settings"
@rendermode InteractiveServer
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.Playlist.Components.Layouts
@using Whitestone.SegnoSharp.Shared.Attributes
@using Whitestone.SegnoSharp.Shared.Interfaces
@using Whitestone.SegnoSharp.Shared.Models
@attribute [Authorize]
@attribute [ModuleMenu("Settings", typeof(Playlist), true)]

<h1>Playlist rules</h1>

<div class="alert alert-warning">Warning: Changes are saved immediately</div>

<div class="playlist-settings">
    <div class="settings-body">
        <div class="form-group">
            <ObjectPropertyEditor Object="PlaylistSettings" Property="@nameof(PlaylistSettings.MinimumNumberOfSongs)" />
        </div>
        <div class="form-group">
            <ObjectPropertyEditor Object="PlaylistSettings" Property="@nameof(PlaylistSettings.MinimumTotalDuration)" />
        </div>
    </div>
</div>

<h2>Playlist processors</h2>

<div class="processors">
    @foreach (IPlaylistProcessor processor in PlaylistProcessors.OrderByDescending(p => p.Settings.SortOrder))
    {
        <div class="playlist-settings @(processor.Settings.Enabled ? "" : "disabled")">
            <div class="settings-header">
                @if (processor.Settings.SortOrder > 0)
                {
                    <input type="checkbox" title="@(processor.Settings.Enabled ? "Enabled" : "Disabled")" @bind="processor.Settings.Enabled" />
                }
                <span>@processor.Name</span>

                @if (processor.Settings.SortOrder > 0 && processor.Settings.SortOrder < PlaylistProcessors.Count() - 1)
                {
                    <button @onclick="() => MoveProcessorUp(processor)">Move up</button>
                }

                @if (processor.Settings.SortOrder > 1)
                {
                    <button @onclick="() => MoveProcessorDown(processor)">Move down</button>
                }
            </div>

            <div class="settings-body">
                <ObjectEditor Object="processor.Settings" IgnoreProperties="@([nameof(PlaylistProcessorSettings.Enabled), nameof(PlaylistProcessorSettings.SortOrder)])" />
            </div>
        </div>
    }
</div>