@page "/admin/albums/{Id:int}"
@using Whitestone.SegnoSharp.Database.Models
@using Whitestone.SegnoSharp.Database.Extensions
@attribute [Authorize]

@if (Album == null)
{
    <h1 style="color: red">Album not found</h1>
    return;
}
<NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="OnBeforeInternalNavigation" />
<h1>Edit album</h1>

<div>
    Added: <em>@Album.Added</em>
</div>

<div style="float: left;margin-right: 20px;">
    <h2>Album data</h2>
    <table class="Editor">
        <tr>
            <th>Title:</th>
            <td><input @bind="Album.Title" /></td>
        </tr>
        <tr>
            <th>Published:</th>
            <td><input @bind="Album.Published" /></td>
        </tr>
        <tr>
            <th>Genres:</th>
            <td>
                <TagList Items="Album.Genres" ExecuteSearch="ExecuteGenreSearch" />
            </td>
        </tr>
        <tr>
            <th>Record labels:</th>
            <td>
                <TagList Items="Album.RecordLabels" ExecuteSearch="ExecuteRecordLabelSearch" />
            </td>
        </tr>
        <tr>
            <th>UPC:</th>
            <td><input @bind="Album.Upc" /></td>
        </tr>
        <tr>
            <th>Catalogue Number:</th>
            <td><input @bind="Album.CatalogueNumber" /></td>
        </tr>
        <tr>
            <th>Public:</th>
            <td><input type="checkbox" @bind="Album.IsPublic" /></td>
        </tr>
    </table>
</div>
<div style="float: left; margin-right: 20px;">
    <h2>People</h2>

    <table>
        @foreach (AlbumPersonGroupPersonRelation personGroupRelation in Album.AlbumPersonGroupPersonRelations.OrderBy(r => r.PersonGroup.SortOrder))
        {
            <tr>
                <th>@personGroupRelation.PersonGroup.Name <button title="Remove @personGroupRelation.PersonGroup.Name group" class="TinyDelete" @onclick="() => RemovePersonGroup(personGroupRelation)"><span class="fa-regular fa-circle-xmark"></span></button>:</th>
                <td>
                    <TagList Items="@personGroupRelation.Persons" ExecuteSearch="ExecutePersonSearch" />
                </td>
            </tr>
        }

        @{
            List<PersonGroup> personGroups = PersonGroups
            .Where(pg => Album.AlbumPersonGroupPersonRelations.All(apg => apg.PersonGroup.Id != pg.Id))
            .ToList();

            if (personGroups.Any())
            {
                <tr>
                    <th>Add group:</th>
                    <td>
                        <select @bind="SelectedPersonGroupId">
                            <option value="-1"></option>
                            @foreach (PersonGroup personGroup in personGroups)
                            {
                                <option value="@personGroup.Id">@personGroup.Name</option>
                            }
                        </select>
                        <button @onclick="AddPersonGroup" disabled="@(SelectedPersonGroupId <= 0)">Add</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div style="float: left;">
    <h2>Cover</h2>
    @if (Album.AlbumCover != null)
    {
        <div>
            <img style="max-width: 250px;" src="@Album.AlbumCover.ToInlineBase64()" alt="Album cover" />
        </div>
        <div>
            <button @onclick="RemoveAlbumCover">Remove</button>
        </div>
    }
    else
    {
        <div>
            <InputFile OnChange="AddAlbumCover" accept=".jpg,.jpeg,image/jpeg,.png,image/png" />
        </div>
        @if (AlbumCoverFileSizeError)
        {
            <div class="Error">Image is too large. Max image size is 5MB.</div>
        }
    }
</div>

<div style="clear: both;">
    @foreach (Disc disc in Album.Discs)
    {
        <div>
            <h2>
                <span>Disc:</span><input type="number" min="1" max="@(byte.MaxValue)" @bind="disc.DiscNumber" />

            </h2>
            <h3>
                <span>Title:</span><input @bind="disc.Title" />
            </h3>
            <div>
                Media type: <TagList Items="disc.MediaTypes" Selection="MediaTypes"></TagList>
            </div>
            <table class="DraggableTable">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Track #</th>
                        <th>Length</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Track track in disc.Tracks.OrderBy(t => t.TrackNumber))
                    {
                        <tr draggable="true"
                            ondragover="event.preventDefault();"
                            @ondragstart="() => DragStart(track)"
                            @ondrop="() => HandleDrop(track)"
                            @ondragend="HandleDragEnd"
                            @ondragenter="() => HandleDragEnter(track)"
                            class="@(_currentlyDraggingOverTrack == track ? "drag-on" : null)">
                            <td><span class="fa-solid fa-grip"></span></td>
                            <td>@track.TrackNumber</td>
                            <td>@track.Duration</td>
                            <td><NavLink href="@($"/admin/albums/track/{track.Id}")">@track.Title</NavLink></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<div>
    <button @onclick="() => Close()">Close</button>
    <button @onclick="() => Close(true)">Close & Save</button>
    <button style="margin-left: 20px;" @onclick="DeleteTrack">Delete</button>
</div>