@page "/admin/import"
@using System.IO
@attribute [Authorize]

<h3>Import</h3>

<div class="Import">
    <ul class="Steps">
        <li class="active">Select Folder</li>
        <li>Select Files</li>
        <li>Verify Metadata</li>
        <li>Import</li>
    </ul>

    <div class="ImportSelectFolder">
        <div class="SelectedFolder">
            <span>Currently selected folder:</span>
            <div>@RenderPath()</div>
        </div>

        <div class="AvailableFolders">
            <table>
                @if (ImporterState.SelectedFolder == null)
                {
                    foreach (DriveInfo drive in DriveInfo.GetDrives())
                    {
                        <tr>
                            <td colspan="2">
                                <button @onclick="() => OnPathClick(drive.RootDirectory)">
                                    @if (string.IsNullOrEmpty(drive.VolumeLabel))
                                    {
                                        <i>Local Disk</i>
                                    }
                                    else
                                    {
                                        @drive.VolumeLabel
                                    }
                                    (@drive.Name)
                                </button>
                            </td>
                        </tr>
                    }
                    if (ImporterState.MusicFolder != null)
                    {
                        <tr>
                            <td colspan="2">
                                <button @onclick="() => OnPathClick(ImporterState.MusicFolder)">
                                    <i>Music folder</i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    @try
                    {
                        DirectoryInfo[] subfolders = ImporterState.SelectedFolder.GetDirectories();
                        if (ImporterState.SelectedFolder != null)
                        {
                            <tr>
                                <td colspan="2">
                                    <button @onclick="() => OnPathClick(ImporterState.SelectedFolder.Parent)">..</button>
                                </td>
                            </tr>
                        }
                        foreach (DirectoryInfo directory in subfolders)
                        {
                            <tr>
                                <td>
                                    <button @onclick="() => OnPathClick(directory)">@directory.Name</button>
                                </td>
                                <td>
                                    @directory.LastWriteTime.ToString("g")
                                </td>
                            </tr>
                        }
                    }
                    catch
                    {
                        <tr>
                            <td class="NoPermission" colspan="2">Application does not have permissions for this folder</td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div class="NextBack">
            <label for="chkImportSubfolders">Include subfolders</label>
            <input id="chkImportSubfolders" type="checkbox" @bind="ImporterState.ImportSubfolders" />
            <button @onclick="OnNextClick">Next &gt;</button>
        </div>
    </div>
</div>
