@using Whitestone.SegnoSharp.Modules.Playlist.ViewModels
@rendermode InteractiveServer

@if (Playlist == null)
{
    <div>Empty playlist</div>
}
else
{
    foreach (PlaylistViewModel track in Playlist)
    {
        <div class="playlist-box-item">
            <img src="@HashingUtil.GetAlbumCoverUri(track.AlbumId, 67)" alt="@(track.AlbumTitle) - Cover" class="bordered" />
            <div class="playlist-data">
                <div class="track">@track.TrackTitle</div>
                <div class="album">@track.AlbumTitle</div>
                <div class="artist">@track.Artists</div>
            </div>
        </div>
    }
}