@page "/admin/streamcontrols"
@rendermode InteractiveServer
@attribute [Authorize]
@attribute [ModuleMenu("Stream", 20, "fa-radio", true)]

<div class="card-grid">
    <div class="card card-span-12">
        <div class="card-header">Stream controls</div>
        <div class="card-body">
            <div class="form-group">
                <label>Playback</label>
                <div class="card-span-9 flex-center">
                    <button class="secondary flex-fill" @onclick="FireEvent_PlayNextTrack_Click">
                        <span class="fa-solid fa-forward-step"></span>
                        Play next track from playlist
                    </button>
                    <button class="secondary flex-fill" @onclick="FireEvent_StartStreaming_Click" disabled="@Settings.IsStreaming">
                        <span class="fa-solid fa-play"></span>
                        Start streaming
                    </button>
                    <button class="secondary flex-fill" @onclick="FireEvent_StopStreaming_Click" disabled="@(!Settings.IsStreaming)">
                        <span class="fa-solid fa-stop"></span>
                        Stop streaming
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label>Volume</label>
                <input type="range" class="range" min="0" max="100" @bind="_tempVolume" @bind:event="oninput" @onchange="VolumeChanged" />
                <input type="number" class="range" min="0" max="100" @bind="_tempVolume" />
            </div>
            <div class="form-group">
                <ObjectPropertyEditor Object="Settings" Property="@nameof(Settings.TitleFormat)" />
            </div>
            <div class="form-group">
                <ObjectPropertyEditor Object="Settings" Property="@nameof(Settings.StartStreamOnStartup)" />
            </div>
        </div>
    </div>
    <div class="card card-span-12">
        <div class="card-header">Stream server settings</div>
        <div class="card-body">
            <ObjectEditor Object="Settings" Disabled="Settings.IsStreaming" IgnoreProperties="@([nameof(Settings.IsStreaming), nameof(Settings.StartStreamOnStartup), nameof(Settings.TitleFormat)])" />
        </div>
    </div>
</div>