@page "/admin/albums/creditgroups"
@rendermode InteractiveServer
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.AlbumEditor.Components.Layouts
@using Whitestone.SegnoSharp.Shared.Attributes
@using Whitestone.SegnoSharp.Database.Models
@using Whitestone.SegnoSharp.Modules.AlbumEditor.ViewModels
@attribute [Authorize]
@attribute [ModuleMenu("Credit groups", 400, typeof(Albums), true)]

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<div class="header-container">
    <h1>Credit Groups</h1>
</div>

@if (DbGroups.Count == 0)
{
    <div class="alert alert-info">No person groups found</div>
}

<div class="card-grid">
    <div class="card grid-span-12">
        <div class="card-header-container">
            <h2>Album groups</h2>
            <button class="secondary" @onclick="() => AddGroup(PersonGroupType.Album)">Add</button>
        </div>
        <div>
            @foreach (PersonGroupViewModel group in DbGroups.Where(g => g.Type == PersonGroupType.Album).OrderBy(pg => pg.Type).ThenBy(pg => pg.SortOrder))
            {
                <div draggable="true"
                     ondragover="event.preventDefault();"
                     @ondragstart="() => HandleDragStart(group)"
                     @ondrop="() => HandleDrop(group)"
                     @ondragend="HandleDragEnd"
                     @ondragenter="() => HandleDragEnter(group)"
                     class="form-group @(_currentlyDraggingGroup == group ? "drag-current" : _currentlyDraggingOverGroup == group ? "drag-on" : null)">
                    <div class="grid-span-1 text-center">
                        <span class="fa-solid fa-grip"></span>
                    </div>
                    <input type="text" class="grid-span-7" @bind="@group.Name" />
                    <div class="grid-span-3 text-center">
                        <input type="checkbox" @bind="@group.IncludeInAutoPlaylist" title="Include in auto playlist" />
                        <label>Auto playlist</label>
                    </div>
                    <div class="grid-span-1 text-center">
                        <button class="tertiary" @onclick="() => RemoveGroup(group)"><span class="fa-regular fa-circle-xmark"></span></button>
                    </div>

                </div>
            }
        </div>
    </div>
    <div class="card grid-span-12">
        <div class="card-header-container">
            <h2>Track groups</h2>
            <button class="secondary" @onclick="() => AddGroup(PersonGroupType.Track)">Add</button>
        </div>
        <div>
            @foreach (PersonGroupViewModel group in DbGroups.Where(g => g.Type == PersonGroupType.Track).OrderBy(pg => pg.Type).ThenBy(pg => pg.SortOrder))
            {
                <div draggable="true"
                     ondragover="event.preventDefault();"
                     @ondragstart="() => HandleDragStart(group)"
                     @ondrop="() => HandleDrop(group)"
                     @ondragend="HandleDragEnd"
                     @ondragenter="() => HandleDragEnter(group)"
                     class="form-group @(_currentlyDraggingGroup == group ? "drag-current" : _currentlyDraggingOverGroup == group ? "drag-on" : null)">
                    <div class="grid-span-1 text-center">
                        <span class="fa-solid fa-grip"></span>
                    </div>
                    <input type="text" class="grid-span-7" @bind="@group.Name" />
                    <div class="grid-span-3 text-center">
                        <input type="checkbox" @bind="@group.IncludeInAutoPlaylist" title="Include in auto playlist" />
                        <label>Auto playlist</label>
                    </div>
                    <div class="grid-span-1 text-center">
                        <button class="tertiary" @onclick="() => RemoveGroup(group)"><span class="fa-regular fa-circle-xmark"></span></button>
                    </div>

                </div>
            }
        </div>
    </div>
    <div class="grid-span-12">
        <button class="primary" @onclick="SaveChanges" disabled="@(!DbContext.ChangeTracker.HasChanges())">Save</button>
        <button class="primary" @onclick="DiscardChanges" disabled="@(!DbContext.ChangeTracker.HasChanges())">Discard changes</button>
    </div>
</div>