@page "/admin/albums/{Id:int}"
@rendermode InteractiveServer
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.AlbumEditor.Components.Layouts
@using Whitestone.SegnoSharp.Database.Models
@using Whitestone.SegnoSharp.Modules.AlbumEditor.Extensions
@attribute [Authorize]

@if (Album == null)
{
    <div class="alert alert-error">Album not found</div>
    return;
}

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<div class="header-container">
    <h1>@(Id == 0 ? "New" : "Edit") album</h1>
</div>

<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
    <div class="card-grid">
        <div class="card grid-span-8">
            <div class="card-header-container">
                <h2>Album data</h2>
                <div>Album added on: <em>@Album.Added</em></div>
            </div>
            <div>
                <div class="form-group">
                    <label for="album-data-title">Title<ValidationCustomMessage For="() => Album.Title"><span class="invalid fa-solid fa-triangle-exclamation"></span></ValidationCustomMessage></label>
                    <InputText id="album-data-title" type="text" @bind-Value="Album.Title"></InputText>
                </div>
                <div class="form-group">
                    <label for="album-data-published">Published</label>
                    <input id="album-data-published" type="text" @bind="Album.Published" />
                </div>
                <div class="form-group">
                    <label>Genres</label>
                    <TagList Items="Album.Genres" ExecuteSearch="ExecuteGenreSearch" />
                </div>
                <div class="form-group">
                    <label>Record labels</label>
                    <TagList Items="Album.RecordLabels" ExecuteSearch="ExecuteRecordLabelSearch" />
                </div>
                <div class="form-group">
                    <label for="album-data-upc">UPC</label>
                    <input id="album-data-upc" type="text" @bind="Album.Upc" />
                </div>
                <div class="form-group">
                    <label for="album-data-cataloguenumber">Catalogue Number</label>
                    <input id="album-data-cataloguenumber" type="text" @bind="Album.CatalogueNumber" />
                </div>
                <div class="form-group">
                    <label for="album-data-ispublic" class="checkbox-label">Is public</label>
                    <input id="album-data-ispublic" type="checkbox" @bind="Album.IsPublic" />
                </div>
            </div>
            <div class="card-header-container">
                <h3>Credits</h3>
            </div>
            <div>

                @foreach (AlbumPersonGroupPersonRelation personGroupRelation in Album.AlbumPersonGroupPersonRelations.OrderBy(r => r.PersonGroup.SortOrder))
                {
                    <div class="form-group">
                        <div class="label">
                            <label>
                                @personGroupRelation.PersonGroup.Name
                            </label>
                            <button title="Remove @personGroupRelation.PersonGroup.Name group" class="tiny" @onclick="() => RemovePersonGroup(personGroupRelation)"><span class="fa-regular fa-circle-xmark"></span></button>
                        </div>
                        <TagList Items="@personGroupRelation.Persons" ExecuteSearch="ExecutePersonSearch" />
                    </div>
                }

                @{
                    List<PersonGroup> personGroups = PersonGroups
                    .Where(pg => Album.AlbumPersonGroupPersonRelations.All(apg => apg.PersonGroup.Id != pg.Id))
                    .ToList();

                    if (personGroups.Any())
                    {
                        <div class="form-group">
                            <label>Add group</label>
                            <div>
                                <select @bind="SelectedPersonGroupId">
                                    <option value="-1"></option>
                                    @foreach (PersonGroup personGroup in personGroups)
                                    {
                                        <option value="@personGroup.Id">@personGroup.Name</option>
                                    }
                                </select>
                                <button class="secondary" @onclick="AddPersonGroup" disabled="@(SelectedPersonGroupId <= 0)">Add</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="card grid-span-4">
            <div class="card-header-container">
                <h3>Cover</h3>
            </div>
            <div class="album-cover">

                @if (Album.AlbumCover != null)
                {
                    <img src="@Album.GetCoverImage()" alt="Album cover" /><br/>
                    <button class="tertiary" @onclick="RemoveAlbumCover">Remove</button>
                }
                else
                {
                    <InputFile OnChange="AddAlbumCover" accept=".jpg,.jpeg,image/jpeg,.png,image/png" />

                    @if (AlbumCoverFileSizeError)
                    {
                        <div class="Error">Image is too large. Max image size is 5MB.</div>
                    }
                }
            </div>
        </div>

        <div class="header-container">
            <h2>Discs</h2>
            <div>
                <button type="button" class="secondary" @onclick="AddDisc">Add disc</button>
            </div>
        </div>

        @foreach (Disc disc in Album.Discs)
        {
            <div class="card grid-span-12">
                <div>
                    <div class="form-group">
                        <label>Disc number</label>
                        <input type="number" min="1" max="@(byte.MaxValue)" @bind="disc.DiscNumber" />
                    </div>
                    <div class="form-group">
                        <label>Disc title</label>
                        <input type="text" @bind="disc.Title" />
                    </div>
                    <div class="form-group">
                        <label>Media types</label>
                        <TagList Items="disc.MediaTypes" Selection="MediaTypes"></TagList>
                    </div>
                    <div class="form-group">
                        <div class="label"></div>
                        <div>
                            <button class="tertiary" @onclick="() => DeleteDisc(disc)">Delete disc</button>
                        </div>
                    </div>
                </div>

                <div class="card-header-container">
                    <h3>Tracks</h3>
                    <button type="button" class="secondary" @onclick="() => AddTrack(disc)">Add track</button>
                    <button class="secondary" @onclick="() => AddTrackGroup(disc)">Add track group</button>
                </div>

                <table class="tracks">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Track #</th>
                            <th>Length</th>
                            <th class="text-left">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Track track in disc.Tracks.OrderBy(t => t.TrackNumber))
                        {
                            List<TrackGroup> trackGroups = disc.TrackGroups.Where(tg => tg.GroupBeforeTrackNumber == track.TrackNumber).ToList();
                            @foreach (TrackGroup trackGroup in trackGroups)
                            {
                                <tr draggable="true"
                                    ondragover="event.preventDefault();"
                                    @ondragstart="() => DragStart(trackGroup)"
                                    @ondragend="HandleDragEnd"
                                    class="@(_currentlyDraggingTrackGroup == trackGroup ? "drag-current" : "track-group")">
                                    <td class="text-center"><span class="fa-solid fa-grip"></span></td>
                                    <td colspan="3">
                                        <div class="form-group">
                                            <input type="text" @bind="@trackGroup.Name" />
                                            <button class="tiny" @onclick="() => RemoveTrackGroup(trackGroup)"><span class="fa-regular fa-circle-xmark"></span></button>
                                        </div>
                                    </td>
                                </tr>
                            }

                            <tr draggable="true"
                                ondragover="event.preventDefault();"
                                @ondragstart="() => DragStart(track)"
                                @ondrop="() => HandleDrop(track)"
                                @ondragend="HandleDragEnd"
                                @ondragenter="() => HandleDragEnter(track)"
                                class="@(_currentlyDraggingTrack == track ? "drag-current" : _currentlyDraggingOverTrack == track ? "drag-on" : null)">
                                <td class="text-center"><span class="fa-solid fa-grip"></span></td>
                                <td class="text-center">@track.TrackNumber</td>
                                <td class="text-center">@track.Duration</td>
                                <td>
                                    @if (track.Id == 0)
                                    {
                                        <span title="Save to edit new track">New track</span>
                                    }
                                    else
                                    {
                                        <NavLink href="@($"admin/albums/track/{track.Id}")">@track.Title</NavLink>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        <ValidationSummaryAlert></ValidationSummaryAlert>

        <div class="grid-span-12">
            <button class="primary" @onclick="() => Close()">Close</button>
            <button class="primary" @onclick="() => Close(true)">Close & Save</button>
            <button class="secondary" @onclick="Save">Save</button>
            <button class="tertiary" @onclick="DeleteAlbum">Delete</button>
        </div>

    </div>
</EditForm>
