@page "/admin/albums/track/{Id:int}"
@rendermode InteractiveServer
@layout InnerLayout
@using Whitestone.SegnoSharp.Modules.AlbumEditor.Components.Layouts
@using Whitestone.SegnoSharp.Database.Models
@attribute [Authorize]

@if (Track == null)
{
    <div class="alert alert-error">Track not found</div>
    return;
}

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<div class="header-container">
    <h1>Edit track</h1>
</div>


<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
    <div class="card-grid">
        <div class="card grid-span-12">
            <div class="card-header-container"><h2>Track data</h2></div>
            <div>
                <div class="form-group">
                    <label for="track-number">Track #</label>
                    <input id="track-number" type="number" min="1" max="@(ushort.MaxValue)" @bind="Track.TrackNumber" />
                </div>
                <div class="form-group">
                    <label for="track-title">Title<ValidationCustomMessage For="() => Track.Title"><span class="invalid fa-solid fa-triangle-exclamation"></span></ValidationCustomMessage></label>
                    <InputText id="track-title" type="text" @bind-Value="Track.Title"></InputText>
                </div>
                <div class="form-group">
                    <label for="track-length">Length</label>
                    <input id="track-length" type="text" @bind="Track.Duration" />
                </div>
                <div class="form-group">
                    <label for="track-notes">Notes</label>
                    <InputTextArea id="track-notes" @bind-Value="Track.Notes" />
                </div>
            </div>
            <div class="card-header-container"><h2>Credits</h2></div>
            <div>
                @foreach (TrackPersonGroupPersonRelation personGroupRelation in Track.TrackPersonGroupPersonRelations.OrderBy(r => r.PersonGroup.SortOrder))
                {
                    <div class="form-group">
                        <div class="label">
                            <label>
                                @personGroupRelation.PersonGroup.Name
                            </label>
                            <button title="Remove @personGroupRelation.PersonGroup.Name group" class="tiny" @onclick="() => RemovePersonGroup(personGroupRelation)"><span class="fa-regular fa-circle-xmark"></span></button>
                        </div>
                        <TagList Items="@personGroupRelation.Persons" ExecuteSearch="ExecutePersonSearch" />
                    </div>
                }
                @{
                    List<PersonGroup> personGroups = PersonGroups
                    .Where(pg => Track.TrackPersonGroupPersonRelations.All(apg => apg.PersonGroup.Id != pg.Id))
                    .ToList();

                    if (personGroups.Any())
                    {
                        <div class="form-group">
                            <label>Add group</label>
                            <div>
                                <select @bind="SelectedPersonGroupId">
                                    <option value="-1"></option>
                                    @foreach (PersonGroup personGroup in personGroups)
                                    {
                                        <option value="@personGroup.Id">@personGroup.Name</option>
                                    }
                                </select>
                                <button class="secondary" @onclick="AddPersonGroup" disabled="@(SelectedPersonGroupId <= 0)">Add</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="card grid-span-12">
            <div class="card-header-container">
                <h2>Stream info</h2>
                @if (Track?.TrackStreamInfo != null)
                {
                    <button class="tertiary" title="Remove Stream Info" @onclick="RemoveStreamInfo">Remove</button>
                }
                else
                {
                    <button class="secondary" type="button" @onclick="AddStreamInfo">Add stream info</button>
                }
            </div>
            <div>
                @if (Track?.TrackStreamInfo != null)
                {
                    <div class="form-group">
                        <label for="track-stream-include">Include in auto playlist</label>
                        <input id="track-stream-include" type="checkbox" @bind="Track.TrackStreamInfo.IncludeInAutoPlaylist" />
                    </div>
                    <div class="form-group">
                        <label for="track-stream-file">File path<ValidationCustomMessage For="() => Track.TrackStreamInfo.FilePath"><span class="invalid fa-solid fa-triangle-exclamation"></span></ValidationCustomMessage></label>
                        <InputText id="track-stream-file" type="text" @bind-Value="Track.TrackStreamInfo.FilePath"></InputText>

                    </div>
                    <div class="form-group">
                        <label for="track-stream-weight">Weight</label>
                        <input id="track-stream-weight" type="number" @bind="Track.TrackStreamInfo.Weight" />
                        <div class="grid-span-3"></div>
                        <div class="alert alert-info grid-span-9">
                            Weight is a whole number where 0 equals no playlist rotation. Default rotation should be 100.
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <ValidationSummaryAlert></ValidationSummaryAlert>

    <div class="grid-span-12">
        <button class="primary" @onclick="() => Close()">Close</button>
        <button class="primary" @onclick="() => Close(true)" disabled="@Invalid">Close & Save</button>
        <button class="tertiary" @onclick="DeleteTrack">Delete</button>
    </div>

</EditForm>